.navigation-menu{
    list-style: none;
    display: flex;
    align-items:center;
    justify-content: center;
}
.navigation-menu li{
    margin: 0px 20px;
}
.navigation-menu li a{
    text-decoration: none;
    color: white;
    font-size: larger;
}
.HeaderDiv{
    display: flex;
    gap: 10px;
    justify-items: center;
}
.headerIcon{
    height: 60px;
    width: 90px;
}
.MuiTypography-root {
    padding-top: 10px !important;
}
.MuiToolbar-root {
    justify-content: space-between !important;
}

/* Mobile view */
.mobile-navigation{
    list-style:none;
}
.mobile-navigation li{
    margin-top: 20px;
}
.mobile-navigation li a{
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
}

